#header{
    text-align: center;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
}
h1{
    color: white;
    text-align: center;
    padding: 15px;
    background-color: #333;
}