<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="style" href="login.component.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="ui">
                    <h1> UMUZI HACKATHON LEADERBOARD</h1>
                    <h1 class="text-center">login</h1>
                    <form class="form-group text-center" required>
                        <div class="row">
                        </div>
                        <br>
                        <label>E-mail:</label>
                        <br>
                        <input type="email" name="email" class="form-control" placeholder="Enter your email">
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <br>
                                <label>Password:</label>
                                <br>
                                <input type="password" name="fname" class="form-control"
                                    placeholder="Enter new password..">
                            </div>
                        </div>
                        <br>

                        <input type="submit" name="submit" value="submit" class="btn btn-primary btn-block btn-lg">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>